# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env
.venv

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Project specific
test_setup.py

#Extra explanations
ARCHITECTURE_COUCHES.md