<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dividend Calculator{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
</head>
<body class="bg-gray-100 min-h-screen">

    <nav class="bg-white shadow-md p-4">
        <h1 class="text-xl font-bold text-gray-800">Dividend Calculator</h1>
    </nav>

    <!-- Contenu -->
    <main class="container mx-auto p-6">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Scripts JS -->
    {% block scripts %}{% endblock %}

    <!-- Initialize Lucide (icons) after content-->
     <script>lucide.createIcons()</script>

    <!-- Graphics library-->
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Global functions -->
     <script>
        function openModal(modalId) {
            document.querySelector(`#${modalId}`).classList.remove('hidden')
        }
        
        function closeModal(modalId) {
            document.querySelector(`#${modalId}`).classList.add('hidden')
        }

        function resetModal(valueIds, displayIds) {
            // valueIds = list of inputs value
            valueIds.forEach(id => document.querySelector(id).value = '')

            // displayIds = list of innerHTML 
            displayIds.forEach(id => document.querySelector(id).innerHTML = '')
        }

        function cancelModal(modalId, valueIds, displayIds) {
            // Combine resetModal() + closeModal()
            resetModal(valueIds, displayIds)
            closeModal(modalId)
        }

        function createChart(elementId, type, labels, data, options = {}) {
            const ctx = document.querySelector(elementId)

            return new Chart(ctx, {
                type: type,
                data: {
                    labels: labels,
                    datasets: [{
                        data: data, 
                        backgroundColor: options.barColor ? Array(data.length).fill(options.barColor) : [
                            '#3B82F6',  // blue
                            '#10B981',  // green
                            '#F59E0B',  // yellow
                            '#EF4444',  // red
                            '#8B5CF6',  // purple
                            '#EC4899',  // pink
                        ]
                    }]
                }, 
                options: {
                    responsive: true,
                    maintainAspectRatio: options.maintainAspectRatio ?? true,
                    aspectRatio: options.aspectRatio || 1.5, // Ratio width/height
                    plugins: {
                        legend: {
                            display: type !== 'bar',
                            position: options.legendPosition || 'right',
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    const value = context.parsed
                                    const weight = options.weights ? options.weights[context.dataIndex].toFixed(2) : null
                                    
                                    if (weight) {
                                        return `${context.label}: ${value.toFixed(2)} (${weight}%)`
                                    }
                                    return `${context.label}: ${value.toFixed(2)}`
                                }
                            }
                        }
                    }
                }
            })
        }
    </script>
    
</body>
</html>