{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<!-- Navbar actions -->
<div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold text-blue-500">Portfolios</h2>
    <button onclick="openModal('create-modal')" class="bg-blue-500 text-white px-4 py-2 rounded-lg"> ➕ New Portfolio</button>
</div>

<!-- Cards grid (empty for now)-->
 <div id="portfolio-grid" class="grid grid-cols-3 gap-4 mt-6"></div>

<!-- Modal Create Portfolio -->
 <div id="create-modal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-white rounded-lg p-6 w-96">
        <h3 class="font-bold text-xl mb-4">Nouveau Portfolio</h3>

        <input 
            id="portfolio-name" 
            type="text"
            placeholder="Portfolio name"
            class="w-full border rounded-lg px-4 py-2 mb-4">

        <select id="portfolio-currency" class="w-full border rounded-lg px-4 py-2 mb-4">
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
            <option value="JPY">JPY</option>
            <option value="HKD">HKD</option>
            <!-- <option value="TWD">TWD</option>
            <option value="NOK">NOK</option>
            <option value="CAD">CAD</option>
            <option value="DKK">DKK</option>
            <option value="GBP">GBP</option>
            <option value="AUD">AUD</option>
            <option value="SGD">SGD</option>
            <option value="CHF">CHF</option>
            <option value="PLN">PLN</option> -->
        </select>

        <div class="flex gap-2 justify-end">
            <button onclick="closeModal('create-modal')" class="px-4 py-2 border rounded-lg">
                Annuler
            </button>
            <button onclick="createPortfolio()" class="bg-blue-500 text-white px-4 py-2 rounded-lg">
                Créer
            </button>
        </div>
    </div>
 </div>

 <!-- Modal delete Portfolio-->
<div id="delete-modal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-white rounded-lg p-6 w-96">
        <h3 class="font-bold text-xl mb-4 text-center">Delete this portfolio ?</h3>

        <div class="flex gap-2 justify-center">
            <button onclick="closeModal('delete-modal')" class="px-4 py-2 border rounded-lg">
                Annuler
            </button>
            <button onclick="deletePortfolio()" class="bg-blue-500 text-white px-4 py-2 rounded-lg">
                Supprimer
            </button>
        </div>
    </div>
 </div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
